body {
  background-color: #292c31;
}

.Hidden {
  display: none;
  visibility: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.SiteList {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  background-color: white;
}

.CloseButton, .CloseButton:focus {
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  float: right;
  outline: none;
}

.ScrollablePanel {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
}

ul > li {
  list-style-type:none;
}

.HeaderBar {
  width: 100%;
  background-color: #363b44;
  display: flex;
  flex-direction: column;
}

.HeaderBrand {
  height: 60px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  vertical-align: center;
}

.HeaderBlurb {
  height: 30px;
  margin-top: 10px;
}

.Blurb {
  color: rgb(202, 202, 202);
  font-size: 15px;
  margin: 0px;
}

.BlurbSmall {
  color: rgb(190, 190, 190);
  font-size: 14px;
  font-style: normal;
  margin: 0px;
}

.Logo {
  margin-top: 5px;
  height: 50px;
  margin-right: 5px;
}

.LogoText {
  line-height: 60px;
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  color: white;
  vertical-align: bottom;
  text-decoration: none;
}

.SearchArea {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.CurrencyButton, .CurrencyButton:focus {
  height: 25px;
  margin-top: 15px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: lightgray;
  outline: none;
}

.SelectedCurrencyButton, .SelectedCurrencyButton:focus {
  background-color: rgb(51, 51, 51);
  color: white;
  border: 2px greenyellow solid;
  height: 25px;
  margin-top: 15px;
  margin-right: 5px;
  outline: none;
  border-radius: 5px;
}

.FormContainer {
  
}

input[type="text"].SearchField {
  min-width: 300px;
  height: 32px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #434953;
  color: white;
}

.SearchField:focus {
  outline: none;
}

.SearchField::placeholder {
  font-size: 16px;
  color: #FFFFFF;
}

.SearchButton {
  height: 47px;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.App-footer {
  font-size: 14px;
  color: #6c7588;
  border-top: 2px #494e58 solid;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Notice {
  font-size: 16px;
  font-weight: bold;
  color:rgb(56, 124, 212);
}

.Notice > a, .Notice > a:hover, .Notice > a:visited {
  font-size: 16px;
  font-weight: bold;
  color:rgb(56, 124, 212);
}

.TagLine {
  font-size: 16px;
  color: rgb(167, 167, 167);
  font-style: italic;
}

.FormLabel {
  color: white;
  margin-right: 5px;
}

.FilterArea {
  margin-top: 5px;
  justify-content: center;
}

.DropdownFilter {
  height: 28px;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  padding-left: 4px;
}

.DropdownFilter:focus {
  outline: none;
}


.ResultsArea {
  min-height: 70vh;
}

.Results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.ResultLabel {
  margin-top: 50px;
  font-size: 18px;
  color: white;
}

.SuggestionLabel {
  margin-top: 25px;
  font-size: 18px;
  color: white;
  font-style: italic;
}

.ResultItem {
  text-align: center;
  width: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 5px 5px 5px 5px;
  border: rgb(51, 51, 51) solid 2px;
  border-radius: 10px;
  background-color: rgb(36, 36, 42);
  clear: both;
  transition: background-color 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ResultItem:hover {
  background-color: rgb(42, 42, 48);
  transition: background-color 0.25s linear;
}

.PatreonBadge {
  width: 150px;
  height: auto;
}

.SuggestionItem {
  text-align: center;
  width: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 5px 5px 5px 5px;
  border: rgb(51, 51, 51) solid 2px;
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
  clear: both;
  transition: background-color 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SuggestionItem:hover {
  background-color: rgb(44, 44, 44);
  transition: background-color 0.25s linear;
}

.DeckLink {
  max-width: 100%;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.DeckName {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  padding: 3px;
  margin: 0px;
}

.DeckPrice {
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
}

.SiteUrl {
  max-width: 100%;
  color:rgb(145, 146, 161);
  text-overflow: ellipsis;
  font-style: italic;
  font-size: 12px;
}

.Thumbnail {
  max-width: 95%;
  max-height: 100px;
  height: auto;
  border-radius: 10px;
}

.NavLink, .NavLink:visited, .NavLink:active {
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

.AmazonProducts {
  margin-top: 10px;
  color: white;
  font-style: italic;
}

.FooterLink, .FooterLink:visited, .NavFooterLinkLink:active {
  color: #6c7588;
  margin-top: 10px;
  text-decoration: underline;
}

@media (min-width: 280px) {
  .TagLine {
    font-size: 12px;
  }

  .Blurb {
    font-size: 12px;
    font-weight: normal;
  }

  .SiteList {
    font-size: 12px;
  }
}

@media (min-width: 320px) {
  .ResultItem {
    width: 220px;
  }

  .SearchField {
    font-size: 14px;
  }  

  .SiteList {
    font-size: 12px;
  }
}

@media (min-width: 375px) {
  .ResultItem, .SuggestionItem {
    width: 150px;
  }

  .Blurb {
    font-size: 15px;
  }
  
  .SiteList {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  .ResultItem, .SuggestionItem {
    width: 150px;
  }

  .TagLine {
    margin-top: 0px;
    font-size: 14px;
  }

  .SiteList {
    font-size: 14px;
  }

  .ScrollablePanel {
    height: 85%;
  }
}

@media (min-width: 768px) {
  .ResultItem, .SuggestionItem {
    width: 180px;
  }

  .Blurb {
    font-size: 18px;
  }
  
  .SearchField {
    font-size: 24px;
  }    
}

