body {
  background-color: #363b44;
}

.App {
  text-align: center;

}

.Logo {
  width: 200px;
  height: auto;
}

.App-logo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 48px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
  border-radius: 5px;
  border-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  min-height: 2vh;
  font-size: 14px;
  color: #6c7588;
  border-top: 2px #494e58 solid;
  padding-top: 10px;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

.TagLine {
  font-size: 16px;
  font-style: italic;
}

.SearchArea {
  width: 90%;
}

.FormContainer {
  height: 40px;
  display: flex;
  flex-direction: column;
}

.SearchField {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 24px;
}

.SearchButton {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.SearchField:focus {
  outline: none;
}

.Results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ResultLabel {
  font-size: 24px;
}

.ResultItem {
  text-align: center;
  width: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 5px 5px 5px 5px;
  border: rgb(101, 102, 112) solid 2px;
  border-radius: 10px;
  clear: both;
  transition: background-color 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ResultItem:hover {
  background-color: #424e64;
  transition: background-color 0.25s linear;
}

.DeckLink {
  max-width: 100%;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.DeckName {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  padding: 3px;
  margin: 0px;
}

.DeckPrice {
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
}

.SiteUrl {
  max-width: 100%;
  text-overflow: ellipsis;
  font-style: italic;
  font-size: 10px;
}

.Thumbnail {
  max-width: 95%;
  max-height: 100px;
  height: auto;
}

.NavLink, .NavLink:visited, .NavLink:active {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.FooterLink, .FooterLink:visited, .NavFooterLinkLink:active {
  color: #6c7588;
  margin-top: 10px;
}

@media (min-width: 320px) {
  .ResultItem {
    width: 220px;
  }

  .SearchField {
    font-size: 14px;
  }  
}

@media (min-width: 375px) {
  .ResultItem {
    width: 150px;
  }
}

@media (min-width: 600px) {
  .ResultItem {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .ResultItem {
    width: 180px;
  }

  .SearchField {
    font-size: 24px;
  }    
}

